from __future__ import annotations

import json
import os
from pathlib import Path

import nox

nox.options.default_venv_backend = "uv|virtualenv"
nox.options.reuse_existing_virtualenvs = True

{{ nox_python_versions }}

{{ nox_django_versions }}


def version(ver: str) -> tuple[int, ...]:
    """Convert a string version to a tuple of ints, e.g. "3.10" -> (3, 10)"""
    return tuple(map(int, ver.split(".")))


def should_skip(python: str, django: str) -> bool:
    """Return True if the test should be skipped"""

    {% if test_django_main -%}
    if django == DJMAIN and version(python) < version(DJMAIN_MIN_PY):
        # Django main requires Python 3.10+
        return True
    {%- endif %}

    {% if "5.0" in django_versions -%}
    if django == DJ50 and version(python) < version(PY310):
        # Django 5.0 requires Python 3.10+
        return True
    {%- endif %}

    {% if "5.1" in django_versions -%}
    if django == DJ51 and version(python) < version(PY310):
        # Django 5.1 requires Python 3.10+
        return True
    {%- endif %}

    return False


@nox.session
def test(session):
    session.notify(f"tests(python='{PY_DEFAULT}', django='{DJ_DEFAULT}')")


@nox.session
@nox.parametrize(
    "python,django",
    [
        (python, django)
        for python in PY_VERSIONS
        for django in DJ_VERSIONS
        if not should_skip(python, django)
    ],
)
def tests(session, django):
    session.run_install(
        "uv",
        "sync",
        "--frozen",
        "--extra",
        "tests",
        "--inexact",
        "--no-install-package",
        "django",
        env={"UV_PROJECT_ENVIRONMENT": session.virtualenv.location},
    )

    {% if test_django_main -%}
    if django == DJMAIN:
        session.install(
            "django @ https://github.com/django/django/archive/refs/heads/main.zip"
        )
    else:
        session.install(f"django=={django}")
    {%- else %}
    session.install(f"django=={django}")
    {%- endif %}

    command = ["python", "-m", "pytest"]
    if session.posargs and all(arg for arg in session.posargs):
        command.append(*session.posargs)
    session.run(*command)


@nox.session
def coverage(session):
    session.run_install(
        "uv",
        "sync",
        "--frozen",
        "--extra",
        "tests",
        env={"UV_PROJECT_ENVIRONMENT": session.virtualenv.location},
    )

    try:
        session.run("python", "-m", "pytest", "--cov", "--cov-report=")
    finally:
        report_cmd = ["python", "-m", "coverage", "report"]
        session.run(*report_cmd)

        if summary := os.getenv("GITHUB_STEP_SUMMARY"):
            report_cmd.extend(["--skip-covered", "--skip-empty", "--format=markdown"])

            with Path(summary).open("a") as output_buffer:
                output_buffer.write("")
                output_buffer.write("### Coverage\n\n")
                output_buffer.flush()
                session.run(*report_cmd, stdout=output_buffer)
        else:
            session.run("python", "-m", "coverage", "html", "--skip-covered", "--skip-empty")


@nox.session
def types(session):
    session.run_install(
        "uv",
        "sync",
        "--frozen",
        "--extra",
        "types",
        env={"UV_PROJECT_ENVIRONMENT": session.virtualenv.location},
    )
    command = ["python", "-m", "mypy", "."]
    if session.posargs and all(arg for arg in session.posargs):
        command.append(*session.posargs)
    session.run(*command)


@nox.session
def gha_matrix(session):
    sessions = session.run("python", "-m", "nox", "-l", "--json", silent=True)
    matrix = {
        "include": [
            {
                "python-version": session["python"],
                "django-version": session["call_spec"]["django"],
            }
            for session in json.loads(sessions)
            if session["name"] == "tests"
        ]
    }
    with Path(os.environ["GITHUB_OUTPUT"]).open("a") as fh:
        print(f"matrix={matrix}", file=fh)
